#count {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border: 1px solid black;
}

#count button {
  margin: 5px;
}

#filter {
  width: 400px;
}

#priceFilter {
  display: flex;
  flex-direction: column;
  
}

#inputsFilter {
  display: flex;
  justify-content: space-between;
  
}

#rangesFilter {
  display: flex;
  justify-content: space-between;
  
}

#categoriesFilter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
